@model UnamiSushi.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
    
        <img src="@Url.Content(Model.MenuPictures.First().PicturePathname)" alt="image" width="200" height="150" />
        
        @*<dt> @Html.DisplayNameFor(model => model.CategoryName) </dt>
        <dd> @Html.DisplayFor(model => model.CategoryName) </dd>*@
        
        
        @Html.DisplayFor(model => model.MenuItemName)

        @Html.DisplayFor(model => model.MenuItemDescription)

        @Html.DisplayFor(model => model.MenuItemPrice)

    
    @foreach (var comment in Model.Comments)
    {
        <div class="Comment_Box" style="border: solid 1px; margin: 2px;">

            @comment.UserID
            @comment.CommentDate
            @comment.CommentContents

        </div>
        
        foreach (var reply in comment.Replys)
        {
            <div class="Reply_Box" style="border: dotted 1px; margin: 2px; margin-left: 20px;">
                @reply.UserID)
                @reply.ReplyDate)
                @reply.ReplyContents)
            </div>
        }   
    }


</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
