@model UnamiSushi.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
