@model IEnumerable<UnamiSushi.Models.MenuItem>
@using UnamiSushi.Models


@if (Model != null)
{
    <div class="grid">
        <h2 class="section-heading" style="float:left; font-family: Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive; color:limegreen;">Asian Grill</h2>
        <h4 class="section-heading" style="float:right; color:limegreen;">C= Cooked   R= Raw   V= Vegetarian</h4>
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        Teriyaki
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 7))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="grid">
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        Stir-Fry
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 8))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="grid">
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        Japanese Curry
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 9))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="grid">
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        Sweet & Sour
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 10))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="grid">
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        General Tso's
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 11))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="grid">
        <br />
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 250px;">
                        Orange
                    </th>
                    <th style="width: 180px;">
                        Name
                    </th>
                    <th style="width: 100px;">
                        Price
                    </th>
                    <th style="width: 600px;">
                        Description
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.SubcategoryID == 12))
                {
                    <tr>
                        <td align="left">
                            @foreach (var pic in Model.Where(x => x.MenuItemID == item.MenuItemID))
                            {
                                //string imageString = item.MenuPictures.First().PicturePathname;

                                string imageString = "/Photos/Normal/SushiRoll1.jpg";
                                <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                                    <img src="@Url.Content(imageString)" alt="image" width="200" height="150" style="padding-bottom: 10px;" />
                                </a>

                                <br />

                            }
                        </td>
                        <td align="left">
                            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
                        
                            @ if (item.Vegetarian)
                            {<img src="@Url.Content("~/Content/VegetarianSymbol.png")" alt="Vegetarian">}
                        </td>
                        <td align="left">
                            @item.MenuItemPrice
                        </td>
                        <td align="left">
                            @item.MenuItemDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
