@model UnamiSushi.Models.MenuCategory


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuCategory</h4>
    <hr />

            @Html.DisplayFor(model => model.CategoryName)

            @Html.DisplayFor(model => model.CategoryDescription)


    <hr />
    <dl class="dl-vertical">
        @foreach (var item in Model.MenuItems)
        {
                string imageString = item.MenuPictures.First().PicturePathname; 

                //string imageString = "/Photos/Normal/SushiRoll1.jpg";
            
                <img src="@Url.Content(imageString)" alt="image" width="200" height="150" />
                
                @item.MenuItemName 
                
                
            
                @item.MenuItemPrice 
            
                <br />
            
        }
    </dl>
</div>
<p>.
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
